<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> UniScholarWorks </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css')}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>

<body>

    <div class="page-container">

        <div class="header">

            <div class="left-section">
                <div class="logo">
                    <img width="28" height="28" src="https://img.icons8.com/fluency/96/book--v1.png" alt="book--v1"/>
                </div>

                <div class="title">
                    <a href="{{ url_for('home') }}"> UniScholarWorks </a>
                </div>

                <div class="submission">
                    <a href="#"> Submit Report </a>
                </div>

                <div class="submission">
                    <a href="#"> Submissions </a>
                </div>

            </div>

            <div class="right-section">

                <input class="search-bar" type="text" placeholder="Search" id="search-bar">

                <button class="search-button"> 

                    <i class="fas fa-search"></i>
    
                    <div class="tooltip">
                        Search
                    </div>
    
                </button>

                <div class="div-login-button">
                    <a href="{{ url_for('login') }}">
                        <button type="submit" class="login-button">
                            <i class="fas fa-sign-in-alt" style="margin-right: 8px;"></i>Login
                        </button>
                    </a>
                </div>
            </div>   

        </div>

        <div class="sidebar-and-report">

            <div class="div-sidebar">

                <form method="get" autocomplete="off">

                    <ul class="filter-lists">

                        <li class="list-header"> Select Type </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox">
                                Reasearch report
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox">
                                Thesis
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox">
                                Dissertation
                            </label>
                        </li>

                        <li class="list-header"> Select Date </li>

                        <li class="list-item">
                            <label>
                                Start Date: &nbsp 
                                <input type="date">
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                &nbsp End Date: &nbsp 
                                <input type="date">
                            </label>
                        </li>

                        <li class="list-header"> Select Tag </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox">
                                Machine Learning
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox">
                                CyberSecurity
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox">
                                Data Science
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox">
                                Math
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox">
                                Chemistry
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox">
                                Medicine
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox">
                                Education
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox">
                                Technology
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox">
                                Psychology
                            </label>
                        </li>

                    </ul>

                    <ul style="margin-top: 25px;">

                        <li class="list-header"> About </li>

                        <li class="list-item" style="text-align: justify;">
                            UniScholarWorks is a free and open digital library for Research reports, Thesis, and Dissertation works done by students.
                            UniScholarWorks aim to enhance accessibility to students' work and collaboration among student, to motivate students to Research works.
                        </li>

                    </ul>

                </form>

            </div>

            <div class="div-reports">
                <table> 

                    {% for report in reports %}

                    <tr><td>
                        <div class="report-container">
                            <h4 class="report-title"> 	
                                <a href="{{ url_for('report') }}"> {{ report.get_title() }} </a>
                            </h4>

                            <div class="autors-and-date">
                                <span class="authors"> 
                                    {% for author in report.get_authors() %}
                                        {{ author }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </span>
                                <span class="date"> 
                                    &nbsp — {{ report.get_date() }}
                                </span>
                            </div>

                            <div class="report-summary">
                                <div class="summary-text">
                                    {{ report.get_summary() }}
                                </div>
                            </div>

                            <div class="tags">

                                {% for tag in report.get_tags() %}
                                    <a class="tag" href="#"> <i class="fas fa-tag"></i> {{ tag }} </a>
                                {% endfor %}

                            </div>

                        </div>

                    </td></tr>

                    {% endfor %}

                </table>

            </div>

        </div>

    </div>

</body>

</html>