<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> UniScholarWorks </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/general.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css')}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="{{ url_for('static', filename='scripts/general.js') }}" defer></script>

</head>

<body>

    <div class="page-container">

        <div class="header">

            <div class="left-section">
                <div class="logo">
                    <img width="28" height="28" src="https://img.icons8.com/fluency/96/book--v1.png" alt="book--v1"/>
                </div>

                <div class="title">
                    <a href="{{ url_for('home') }}"> UniScholarWorks </a>
                </div>

                <div class="submission">
                    <a href="{{ url_for('submit_report') }}"> Submit Report </a>
                </div>

                <div class="submission">
                    <a href="#"> Submissions </a>
                </div>

            </div>

            <div class="right-section">

                <form method="get" action="{{ url_for('search') }}" class="search-form">
                    <input class="search-bar" type="text" name="q" placeholder="Search" id="search-bar" value="{{ query if query }}">
                    <button type="submit" class="search-button"> 
                        <i class="fas fa-search"></i>
                        <div class="tooltip">
                            Search
                        </div>
                    </button>
                </form>

                <div class="div-logout-button">
                    <a href="{{ url_for('logout') }}">
                        <button type="submit" class="logout-button">
                            <i class="fas fa-sign-out-alt" style="margin-right: 8px;"></i>Logout
                        </button>
                    </a>
                </div>
                
            </div>   

        </div>

        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="flash-message {{ category }}">
                    <div class="message-content">
                      <i class="fas {% if category == 'success' %}fa-check-circle{% elif category == 'error' %}fa-exclamation-circle{% else %}fa-info-circle{% endif %}"></i>
                      {{ message }}
                    </div>
                    <span class="flash-close">&times;</span>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>

        <div class="sidebar-and-report">

            <div class="div-sidebar">

                <form method="get" action="{{ url_for('home') }}" autocomplete="off">

                    <ul class="filter-lists">

                        <li class="list-header"> Select Type </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox" name="type" value="thesis" {% if 'thesis' in selected_types %}checked{% endif %}>
                                Thesis
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox" name="type" value="research" {% if 'research' in selected_types %}checked{% endif %}>
                                Research
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox" name="type" value="project" {% if 'project' in selected_types %}checked{% endif %}>
                                Project
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox" name="type" value="dissertation" {% if 'dissertation' in selected_types %}checked{% endif %}>
                                Dissertation
                            </label>
                        </li>

                        <li class="list-header"> Select Date </li>

                        <li class="list-item">
                            <label>
                                Start Date: &nbsp 
                                <input type="date" name="start_date" value="{{ start_date }}">
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                &nbsp End Date: &nbsp 
                                <input type="date" name="end_date" value="{{ end_date }}">
                            </label>
                        </li>

                        <li class="list-header"> Select Tag </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox" name="tag" value="Machine Learning" {% if 'Machine Learning' in selected_tags %}checked{% endif %}>
                                Machine Learning
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox" name="tag" value="CyberSecurity" {% if 'CyberSecurity' in selected_tags %}checked{% endif %}>
                                CyberSecurity
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox" name="tag" value="Data Science" {% if 'Data Science' in selected_tags %}checked{% endif %}>
                                Data Science
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox" name="tag" value="Math" {% if 'Math' in selected_tags %}checked{% endif %}>
                                Math
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox" name="tag" value="Chemistry" {% if 'Chemistry' in selected_tags %}checked{% endif %}>
                                Chemistry
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox" name="tag" value="Medicine" {% if 'Medicine' in selected_tags %}checked{% endif %}>
                                Medicine
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox" name="tag" value="Education" {% if 'Education' in selected_tags %}checked{% endif %}>
                                Education
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox" name="tag" value="Technology" {% if 'Technology' in selected_tags %}checked{% endif %}>
                                Technology
                            </label>
                        </li>

                        <li class="list-item">
                            <label>
                                <input type="checkbox" name="tag" value="Psychology" {% if 'Psychology' in selected_tags %}checked{% endif %}>
                                Psychology
                            </label>
                        </li>

                    </ul>
                    
                    <div class="filter-button-container">
                        <button type="submit" class="apply-filter-button">
                            <i class="fas fa-filter" style="margin-right: 8px;"></i>Apply Filters
                        </button>
                        <button type="reset" class="reset-filter-button">
                            <i class="fas fa-redo" style="margin-right: 8px;"></i>Reset
                        </button>
                    </div>

                    <ul style="margin-top: 25px;">

                        <li class="list-header"> About </li>

                        <li class="list-item" style="text-align: justify;">
                            UniScholarWorks is a free and open digital library for Thesis, Project, Research and Dissertation Reports works done by students.
                            UniScholarWorks aim to enhance accessibility to students' work and collaboration among student, to motivate students to Research works.
                        </li>

                    </ul>

                </form>

            </div>

            <div class="div-reports">

                {% if not reports %}
                    <div style="width: 850px; text-align: center; color: gray; margin: 0 auto;">
                        <i class="fas fa-exclamation-circle"></i>
                        No reports found.
                    </div>
                {% endif %}
                
                <table> 

                    {% for report in reports %}

                    <tr><td>
                        <div class="report-container">
                            <h4 class="report-title"> 	
                                <a href="{{ url_for('report', report_id=report.get_report_id()) }}"> {{ report.get_title() }} </a>
                            </h4>

                            <div class="autors-and-date">
                                <span class="authors"> 
                                    {% for author in report.get_authors() %}
                                        {{ author }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </span>
                                <span class="date"> 
                                    &nbsp — {{ report.get_date() }}
                                </span>
                            </div>

                            <div class="report-summary">
                                <div class="summary-text">
                                    {{ report.get_summary() }}
                                </div>
                            </div>

                            <div class="tags">

                                {% for tag in report.get_tags() %}
                                    <a class="tag" href="#"> <i class="fas fa-tag"></i> {{ tag }} </a>
                                {% endfor %}

                            </div>

                        </div>

                    </td></tr>

                    {% endfor %}

                </table>

            </div>

        </div>

    </div>

</body>

</html>